package {{ .Package }}

import (
	"github.com/shishir1290/goduck/runtime/context"
)

type {{ .Controller }} struct {
}

func New{{ .Controller }}() *{{ .Controller }} {
	return &{{ .Controller }}{}
}

{{- range .Routes }}

func (c *{{ $.Controller }}) {{ .Action }}(ctx *context.Context) {
	ctx.String("{{ $.Controller }}.{{ .Action }}")
}

{{- end }}