package main

import (
	"{{ .Module }}/routes"

	"github.com/shishir1290/goduck/runtime/server"
)

func main() {

	app := server.New({{ .Port }})

	routes.RegisterRoutes(app)

	if err := app.Run(); err != nil {
		panic(err)
	}
}