package routes

import (
{{- range .Modules }}
	"{{ $.Module }}/app/{{ .PackageName }}"
{{- end }}
	"github.com/shishir1290/goduck/runtime/server"
)

func Register(app *server.Server) {

{{- range .Modules }}
	{{ .PackageName }}Controller := {{ .PackageName }}.New{{ .Controller }}()
{{- end }}

{{- range .Modules }}
{{- $module := . }}
{{- range .Routes }}

	app.{{ .Method }}(
		"{{ .Path }}",
		{{ $module.PackageName }}Controller.{{ .Action }},
	)

{{- end }}
{{- end }}

}